
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee-container {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
  }
  
  .animate-marquee-container:hover {
    animation-play-state: paused;
  }
  
  .marquee-item {
    display: flex;
    align-items: center;
    gap: 64px; 
  }